<!-- <div style="background-color: black;  "class="col-12">
  <img src="../../../assets/img/logo2.png" alt="logo" style="width:200px;float: left;">
  <div style="float: right;margin-top: 15px;cursor: pointer;">
    <i class="fa fa-search txt-color-teal" ></i>
  </div>



  <div style="font-size: larger;color: white; float: right; padding-right: 20px;padding-top: 15px;cursor: pointer;">
    <i class="fa fa-user txt-color-teal"></i>
  </div>
</div> -->

<div style="margin-right: 0px !important; float: left; width: 100%;">
  <div  style="background-color: rgb(0, 0, 0); float: left;width: 100%;">
    <div style="width: 100%;">
      <img src="../../../assets/img/logo2.png" alt="logo" style="width:200px;float: left;">
      <div style="font-size: larger;color: white; float: right; padding:5px 10px 0px 0px ;cursor: pointer;">
        <i class="fa fa-user txt-color-teal"></i>
      </div>
    </div>
  </div>

  <div  style="background-color: rgb(192, 192, 192);   overflow-y: hidden;overflow-x: hidden;float: left;width: 100%;position: relative;display: inline;" class="sliderHeight" >

    <img src="../../../assets/img/allinone.png" alt="sl1" style="height: 100%;position: relative;top:0;left:0;z-index: 20;display: block;" class="option666"   >
  </div>
  <div   style="float: left;width: 100%;">
    <div *ngFor="let product of prod" style="background-color: rgb(255, 255, 255);width: 24%;height:300px;padding: 20px;float: left;">
      <p><span><h3>{{product.name}}</h3></span></p>
      <p><span><h2>{{product.price}}</h2></span></p>
      <img [src]="product.image" alt="baseimage"   height="200px">
      <p style="text-align: justify;padding: 20px;"><span><h2>{{product.description}}</h2></span></p>
    </div>

  </div>


</div>
<app-spinner></app-spinner>
