.displayimg{

  animation: get 2s ease forwards;
}
.removeimg1{
  animation: remove 2s ease forwards;
}
.display1{
  left: 0%;
}
@keyframes remove {
  0% { left: 0%; }
  100% {left: -100%;}
}
@keyframes get {
  0% { left: -100%; }
  100% {left: 0%;}
}
.sliderHeight{
  height: 360px
}

.displayimg2{

  display: contents;
}
.removeimg2{
 display: none !important;
}
.display2{
  display: contents;
}
.option666{
  animation: remove 30s ease infinite alternate;
}
@keyframes remove {
  0% { left: 0%; }
  11% { left: 0%; }
  22% { left: -100.5%;}
  33% { left: -100.5%;}
  44% { left: -200.6%;}
  55% { left: -200.6%;}
  66% { left: -300.8%;}
  77% { left: -300.8%;}
  88% { left: -401%;}
  100% { left: -401%;}
}
.getProdBtn{
  background-color: rgb(0, 0, 0);
  color: rgb(184, 184, 184);
  padding: 20px;
  width: fit-content;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-radius: 5px;
}
.getProdBtn:hover{
  background-color: rgb(184, 184, 184);
  color: rgb(0, 0, 0);
}
.getProdBtn2{
  // background-color: rgb(184, 184, 184);;
  background: linear-gradient(to bottom, #626262, #aeaeae);
  color:rgb(47, 47, 47);
  padding: 5px;
  width: fit-content;
  font-weight: bolder;
  font-size: 12px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-radius: 5px;
  filter: drop-shadow(0 0 0.5rem rgb(20, 147, 220));
}
.getProdBtn2:hover{
  background: linear-gradient(to bottom, #474747, #979797);
  color:rgb(47, 47, 47);
  filter: drop-shadow(0 0 0.25rem rgb(32, 173, 255));
}
.buyOnline{
  padding: 10px;background-color: black;color: white; font-size: 20px;font-weight: bolder;width: 100%;border-radius: 5px;cursor: pointer;
  text-align: center;
}
.buyOnline:hover{
  background-color: rgb(184, 184, 184);
  color: rgb(0, 0, 0);
}
.Viewspec{
  padding: 10px;background-color: black;color: white; font-size: 20px;font-weight: bolder;width: 100%;border-radius: 5px;cursor: pointer;
  margin-bottom: 20px;text-align: center;
}
.Viewspec:hover{
  background-color: rgb(184, 184, 184);
  color: rgb(0, 0, 0);
}
