.displayimg{

  animation: get 2s ease forwards;
}
.removeimg1{
  animation: remove 2s ease forwards;
}
.display1{
  left: 0%;
}
@keyframes remove {
  0% { left: 0%; }
  100% {left: -100%;}
}
@keyframes get {
  0% { left: -100%; }
  100% {left: 0%;}
}
.sliderHeight{
  height: 392px
}

.displayimg2{

  display: contents;
}
.removeimg2{
 display: none !important;
}
.display2{
  display: contents;
}
.option666{
  animation: remove 30s ease infinite alternate;
}
@keyframes remove {
  0% { left: 0%; }
  11% { left: 0%; }
  22% { left: -100.5%;}
  33% { left: -100.5%;}
  44% { left: -200.6%;}
  55% { left: -200.6%;}
  66% { left: -300.8%;}
  77% { left: -300.8%;}
  88% { left: -401%;}
  100% { left: -401%;}
}
