.buyOnline{
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  width: 20%;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  float: left;
}
.buyOnline:hover{
  background-color: rgb(184, 184, 184);
  color: rgb(0, 0, 0);
}
