<div style="margin-right: 0px !important; float: left; width: 100%;">
  <div  style="background-color: rgb(0, 0, 0); float: left;width: 100%;">
    <div style="width: 100%;">
      <img src="../../../assets/img/logo2.png" alt="logo" style="width:200px;float: left;">
      <!-- <div style="font-size: larger;color: white; float: right; padding:5px 10px 0px 0px ;cursor: pointer;">
        <i class="fa fa-user txt-color-teal"></i>
      </div> -->
    </div>
  </div>
<router-outlet></router-outlet>

</div>
